@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* styles.css or global css file */
.wrapper {
  margin-bottom: 1rem;
}

.title-container {
  width: 100%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.title-content {
  font-size: h3;
  color:black;
  font-weight: 200;
 
}
.body-content {
color: black
}
.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotate-90 {
  transform: rotate(90deg);
}

.body-container {
  overflow: hidden;
  transition: height 0.3s ease;
}

@font-face {
  font-family: 'Figtree-Bold';
  src: url(/src/app/fonts/Figtree/static/Figtree-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Figtree-ExtraBold';
  src: url(/src/app/fonts/Figtree/static/Figtree-ExtraBold.ttf) format('truetype');
}
.align-top-adjusted {
  position: relative;
  top: -0.55em; /* Adjust this value as needed */
}
